



{% block footer %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

        .color {color : blue; text-align: center; }
    </style>
    <h2 class="color">{{ name }}</h2>
{% endblock %}
